*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	background-color: #dee3e4;
	color: #121212;
}

.separator {
	border: 0.2px solid #f4f4f499;
	width: 80%;
	margin: 0.75em auto;
}


.app {
	padding: 2em;
	width: 800px;
	background-color: #d1d1d1;
	border-radius: 15px;
	box-shadow: 0 0 25px #fff;
	&__city-info {
		font-size: 4.2rem;
		font-weight: normal;
		text-align: center;
	}
}